* {
    box-sizing: border-box
}

.mar-50 { margin: 25%;}


.dude {

    width: 140px;
    height: 140px;
    background-image: url(img/guy.png);
    background-position: center;
    background-color: #FFFFFF ;
    background-size: cover;
    margin: 100px auto;
    position: relative;
    border-radius: 50%;

}

.icon1 {

    width: 70px;
    height: 70px;
    position: absolute;
    background-image: url(img/icon1.png);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -1;


}

.icon2 {

    width: 70px;
    height: 70px;
    position: absolute;
    background-image: url(img/icon2.png);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -1;

}

.icon3 {

    width: 70px;
    height: 70px;
    position: absolute;
    background-image: url(img/icon3.png);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -1;

}

.icon4 {

    width: 70px;
    height: 70px;
    position: absolute;
    background-image: url(img/icon4.png);
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    z-index: -1;
}


.dude:hover
.icon1 {

    width: 70px;
    height: 70px;
    position: absolute;
    background-image: url(img/icon1.png);
    top: 0;
    bottom: 100px;
    right: 0;
    left: -150px;
    transition: 1s;

}

.dude:hover
.icon2 {

    width: 70px;
    height: 70px;
    position: absolute;
    background-image: url(img/icon2.png);
    top: -100px;
    bottom: 0;
    right: 0;
    left: -100px;
    transition: 1s;
}

.dude:hover
.icon3 {

    width: 70px;
    height: 70px;
    position: absolute;
    background-image: url(img/icon3.png);
    top: -100px;
    bottom: 0;
    right: 0;
    left: 100px;
    transition: 1s;

}

.dude:hover
.icon4 {

    width: 70px;
    height: 70px;
    position: absolute;
    background-image: url(img/icon4.png);
    top: 0px;
    bottom: 100px;
    right: 0px;
    left: 150px;
    transition: 1s;
}

